{% extends "layout.html" %}

{% block title %}
    Score.
{% endblock %}

{% block main %}
    <form action="/add_score" method="post">
    <div class="form-group">
            <select class="form-control" name="activity">
                <option disabled selected value="">Activity</option>
                    {% for activity in activities[1:] %}
                        <option value="{{activity}}">{{activity}}</option>
                    {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" min="1" max='15' name="score" placeholder="Score" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}