<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='toggle.js') }}"></script>
        
        <title>Activity: {% block title %}{% endblock %}</title>
        
        <!-- Ignore favicon -->
        <link rel="icon" href="data:,">

    </head>

    <body>
        <nav id="nav1" class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/"><span>Main</span></a>
            
            <div class="collapse navbar-collapse">
                {% if activities %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/add_activity">Activity</a></li>
                        <li class="nav-item"><a class="nav-link" href="/add_score">Score</a></li>
                        <li class="nav-item"><a class="nav-link" href="/heatmap">Heatmap</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    </ul>
                {% endif %}
                <button id="bu1" class="btn btn-outline-dark mt-2" onclick="myFunction()">Dark mode</button>
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>
        
        <footer class="small text-center text-muted">
            Provided by Shabbir Mousavi.
        </footer>

    </body>

</html>
